@import "reset";

// MATRIX VISUALIZATION SECTION

.matrix-visualization {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);

    .matrix-code-section {
        color: green;
        font-size: 20px;
    }

    .matrix-info-section {
        position: absolute;
        /*border-radius: 100px;*/
        margin: auto;
        top: auto; left: 0; right: 0; bottom: 0;
        /*width: 65%;*/
        background: rgba(0,0,0,0.6);
        font-size: 17px;
        text-align: center;
        font-family: 'Catamaran', sans-serif;
    }

    .matrix-info-section div {
    }

    /* for all static texts in the info section */
    .info-section-text {
        margin: 2px;
        color: yellow;
    }
    /* for all names provided by react props in the info section */
    .info-section-name {
        color: #FF5733;
    }


    .project-info-section {}

    .project-info-section div, h2 {
        /*display: inline-block;*/
    }
    .project-info {}
    .project-text {}
    .project-name {
        font-size: 40px;
    }

    .filename-section div, h4{
        display: inline-block;
    }
    .filename {
    }

    .github-user-section div, h3 {
        display: inline-block;
    }
    .github-user {
    }

    .contributors-section ul, li {
        display: inline-block;
    }
    .contributor-list {
        color: #FF5733;
    }
    .contributor {
    }
}

