@import url('reset.css');

/*INDEX*/

body {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    color: white;
}

/* MATRIX VISUALIZATION SECTION */

.matrix-visualization {
    width: 100%;
    height: 100%;
}

.matrix-code-section {
    color: green;
    font-size: 20px;
}

.matrix-info-section {
    position: absolute;
    top: 90%;
    width: 20%;
    background: rgba(255,255,255,0.05);
}

.project-info-section {}

.project-info-section div, h2 {
    color: red;
    display: inline-block;
}
.project-info {}
.project-text {}
.project-name {
    color: white;
}

.filename-section div, h4{
    display: inline-block;
}
.filename {
    color: red;
}

.github-user-section div, h3 {
    display: inline-block;
}
.github-user {
    color: red;
}

.contributors-section ul, li {
    display: inline-block;
}
.contributors-list {}
.contributor {
    color: red;
}